.tableHead {
  align-content: center;
  font-family: "Old Standard TT", serif;
  font-weight: 500;
  font-style: normal;
}

.tableItem {
  font-family: "Old Standard TT", serif;
  font-weight: 500;
  font-style: normal;

}

.list{
  font-family: "Old Standard TT", serif;
  font-weight: 500;
  font-style: normal;

}